<div id="<%= dom_id eletronic %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= eletronic.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= eletronic.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= eletronic.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= eletronic.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= eletronic.type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Accessory:</strong>
    <%= eletronic.accessory_id %>
  </p>

</div>
